@color-beef: rgb(137,101,76);
@color-beef-dark: rgb(89,70,64);
@color-beef-light: rgb(210,151,109);
@color-cheddar: rgb(254,235,64);
@color-corn: rgb(250,190,102);
@color-lettuce: rgb(131,191,78);
@color-mozarella: rgb(254,254,212);
@color-tomato: rgb(236,76,91);
@almost-black: rgb(0,0,1);
@one-to-six: rgb(18,52,86);
@skidmark: rgb(101,67,33);