@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Oswald:400,700');

@import 'colors';
@import 'grid';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // Apply typography styles from Brand.ai
  .font-body-text();

  background-color: @color-bg;
}


h1 {
  // Apply typography styles from Brand.ai
  .font-heading-level-1();

  color: inherit;
}

h2 {
  // Apply typography styles from Brand.ai
  .font-heading-level-1();

  color: inherit;
}

// Inline hyperlinks
a {
  color: @color-link;

  &:visited {
    color: @color-link-visited;
  }
}

// Images
img {
  display: block;
  width: 100%;
}



// Buttons
button,
input[type=button],
.btn {
  padding: (@sizing-padding-small / 2) @sizing-padding-small;

  color: @btn-color-fg;
  background-color: @btn-color-bg;

  border: none;

  -webkit-appearance: none;
  appearance: none;


  &:hover {
    color: @btn-color-bg;
    background-color: @btn-color-fg;
  }
}

.btn {
  display: inline-block;
}

a.btn {
  text-decoration: none;

  &:visited {
    color: @btn-color-fg;
    background-color: @btn-color-bg;
  }
}

