@import './assets/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: @font-body-text-font-family;
  font-size: @font-body-text-font-size;
  color: @font-body-text-color;
  background-color: @color-off-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-heading-level-1-font-size;
}

h1 {
  font-size: @font-heading-level-1-font-size;
}
