
.ds-demo-footer {
  /* Box model */
  padding: @udf-space-inset-md;

  /* Typography */
  color: @udf-color-fg-inverted;

  /* Visual */
  background-color: @udf-color-bg-inverted;

  > div {
    .content-wrapper();
    .grid-container();
  }

  p,
  ul {
    .grid-element(12);
  }


  li {
    list-style-type: none;
    display: inline;

    li + li:before {
      display: inline-block;
      margin-left: @udf-space-sm;
      margin-right: @udf-space-sm;
      content: '|';
    }
  }


  //a {
  //  color: @color-inverted-link;
  //
  //  &:visited {
  //    color: @color-inverted-link-visited;
  //  }
  //}
}
