
.ds-demo-footer {
  /* Box model */
  padding: @udf-space-inset-md 0;

  /* Typography */
  color: @udf-color-fg-inverted;

  /* Visual */
  background-color: @udf-color-bg-inverted;

  > div {
    .content-wrapper();
    .grid-container();
  }

  p,
  ul {
    .grid-element(12);
  }


  li {
    /* Box model */
    list-style-type: none;
    display: inline;


    & + li:before {
      /* Box model */
      display: inline-block;
      margin-left: @udf-space-sm;
      margin-right: @udf-space-sm;

      /* Misc */
      content: '|';
    }
  }

  ul {
    /* Box model */
    margin-bottom: 0;
  }


  //a {
  //  color: @color-inverted-link;
  //
  //  &:visited {
  //    color: @color-inverted-link-visited;
  //  }
  //}
}
