.inverted-colours() {
  /* Typography */
  color: @dsdemo-color-fg-inverted;

  /* Visual */
  background-color: @dsdemo-color-bg-inverted;

  a:not(.dsdemo-btn) {
    color: @dsdemo-color-link-inverted;

    &:visited {
      color: @dsdemo-color-link-inverted-visited;
    }

    &:hover {
      color: @dsdemo-color-link-inverted-hover;
    }

    &:focus {
      color: @dsdemo-color-link-inverted-focus;
    }

    &:active {
      color: @dsdemo-color-link-inverted-active;
    }
  }
}
